body{
    background-image: url('img.flowers.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family:Georgia,serif;
    margin: 0;
}

.container{
    width: 70%;
    padding: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 70px auto;
    align-items: center;
    color:white
}

